<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/style.css">
    <title>ordenar</title>
</head>
<form action="action_page.php">
    <div class="container">
        <h1>ANTES DE ORDENAR, CUETANOS QUIEN ERES</h1>
        <label for="psw"><b>crea tu Username:</b></label>
        <input type="text" placeholder="Apolo13" name="Username" required="">
        <label for="psw"><b>Nombre:</b></label>
        <input type="text" placeholder="Salvador" name="name" required="">
        <label for="psw"><b>Apellido</b></label>
        <input type="text" placeholder="Zeledon" name="last_name" required="">
        <label for="psw"><b>Direccion:</b></label>
        <input type="text" placeholder="Calle Meditarraneo, Ant. Cuscatlan" name="direccion" required="">



        <h1>COMPLETA LA ORDEN</h1>
        <label for="psw"><b>Tamano de la pizza:</b></label>
        <input type="text" placeholder="Grande,Mediada o pequeña" name="Tamano" required="">
        <label for="psw"><b>Cantidad de porciones:</b></label>
        <input type="text" placeholder="4,8,12,16 0 24"name="psw" required="">
        <label for="psw-repeat"><b>Tipo de masa:</b></label>
        <input type="text" placeholder="Napolitana, sfincione o taglio" name="psw-repeat" required="">
        <label for="psw"><b>Ingredientes extras:</b></label>
        <input type="text"placeholder="Tocino,carne,etc..." name="ps" required="">
        <label for="psw"><b>Hot and ready?:</b></label>
        <input type="text" placeholder="Si o no" name="pw" required="">
        <label for="psw"><b>precio:</b></label>
        <input type="text" placeholder="" name="precio" required="">
        <hr>
        <p>By creating an account you agree to our <a href="#">Terms &amp; Privacy</a>.</p>
        <button class="registerbtn" type="submit">Ordenar</button></div>
    <div class="container signin">
        <p>te gusta nuestro servicio?</p>
    </div>
</form>